div.current{
  background-color: #ccc;
}

#pagin div {
  display: inline-block;
  padding-top: 0;
}

div.page {
  display: inline-block;
  height: 0px;
  width: 0px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}